@use "../../setup/variables";

.date-picker {
    outline: 0;
    max-width: 140px;

    .react-datepicker-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .date-picker-input {
        z-index: 5;

        .react-datepicker__header {
            background-color: #fff;
        }
    }

    input {
        width: 100%;
        outline: none;
        border: none;
        text-align: center;
        padding: variables.$spacing-xs;
        background-color: inherit;

        &:hover {
            color: variables.$board-btn;
            border: .2px solid variables.$workspace-hover;
        }

        &:focus-visible {
            border: .2px solid variables.$board-btn;
        }
    }
}