@use "../../setup/functions";
@use "../../setup/mixins";

.file-picker {
    max-width: 140px;
    @include mixins.center-flex();
    position: relative;
    width: 100%;

    &:hover {
        .icon {
            opacity: 1;
        }
    }

    input {
        display: none;
    }

    label {
        width: 100%;
        @include mixins.center-flex();
    }

    .icon {
        margin: auto;
        font-size: functions.rem(19px);
        opacity: 0;
        cursor: pointer;
    }
}