@use "sass:color";
@use "../../setup/mixins";
@use "../../setup/variables";

.task-preview, .kanban-field-value {
    .task-person {
        border-bottom: 1px solid color.adjust(variables.$border-color, $lightness: -20%);
        border-right: 1px solid color.adjust(variables.$border-color, $lightness: -20%);
        cursor: pointer;
        height: 36px;
        min-width: variables.$cell-width-person;
        position: relative;
        @include mixins.center-flex();

        .members-imgs {
            height: 100%;
            width: variables.$cell-width-person;
            @include mixins.member-img(variables.$primary-text-color, white, 1.75rem, 1.75rem);
            @include mixins.center-flex();
        }

        .icon-person {
            color: color.adjust(variables.$border-color, $lightness: -20%);
        }
    }
}
