@use "../../setup/functions";
@use "../../setup/mixins";
@use "../../setup/variables";

.number-picker {
    max-width: 140px;
    @include mixins.center-flex();
    position: relative;
    font-size: functions.rem(14px);

    &:hover {
        .clear-input,
        .add-number-icons {
            opacity: 1;
        }
    }

    input {
        width: 90%;
        outline: none;
        border: none;
        text-align: center;
        height: 80%;
        margin: auto;

        &:hover {
            border: .2px solid variables.$workspace-hover;
        }

        &:focus-visible {
            border: .2px solid variables.$board-btn;
        }
    }

    .clear-input {
        @include mixins.center-flex();
        opacity: 0;
        margin: 0;
        padding: 2px;
        position: absolute;
        right: 13px;
        border-radius: 3px;
        cursor: pointer;
        background-color: variables.$workspace-hover;
        color: variables.$primary-text-color;
    }

    .add-number-icons {
        opacity: 0;
        @include mixins.center-flex();
        gap: variables.$spacing-xs;
        width: 100%;
        cursor: pointer;

        .plus-icon {
            color: variables.$board-btn;
        }
    }
}