@use "sass:color";
@use "../../setup/functions";
@use "../../setup/mixins";
@use "../../setup/variables";

.updated-picker {
    @include mixins.center-flex();

    &-content {
        width: 60px;
    }

    img {
        @include mixins.members;
    }

    .icon-person {
        font-size: functions.rem(26px);
        color: color.adjust(variables.$border-color, $lightness: -20%);
    }
}