@use "sass:color";
@use "../../setup/functions";
@use "../../setup/mixins";
@use "../../setup/variables";

.updated-picker {
    @include mixins.center-flex();

    &-content {
        align-items: center;
        gap: .75rem;
        padding: 0 .75rem;
        width: 100%;
    }

    img {
        @include mixins.members;
    }

    .icon-person {
        color: color.adjust(variables.$border-color, $lightness: -20%);
        font-size: functions.rem(26px);
    }
}
