@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";

.activity-preview {
    display: flex;
    padding: variables.$spacing-small 0 variables.$spacing-small 0;
    border-bottom: 1px solid variables.$task-box-shadow-color;
    margin: 0 25px 0 25px;
    gap: 5%;
    font-size: functions.rem(16px);
    height: 60px;
    color: variables.$primary-text-color;

    @include mixins.for-mobile-layout() {
        & {
            font-size: functions.rem(12px);
        }
    }

    img {
        height: 30px;
        width: 30px;
    }

    .time-title {
        width: 200px;

        @include mixins.for-mobile-layout() {
            & {
                width: 100px;
                gap: unset;
            }
        }

        .time {
            width: 60px;

            @include mixins.for-mobile-layout() {
                & {
                    width: 50px;
                }
            }
        }


        .title {
            height: 100%;
            gap: variables.$spacing-xs;

            @include mixins.for-mobile-layout() {
                & {
                    width: 50px;
                    gap: unset;
                    overflow: hidden;
                }
            }

            img {
                border-radius: 50px;

                @include mixins.for-mobile-layout() {
                    & {
                        display: none;
                    }
                }
            }

            span {
                font-size: functions.rem(14px);
                font-weight: 500;
            }
        }
    }

    .action {
        gap: variables.$spacing-small;
        width: 80px;

        @include mixins.for-mobile-layout() {
            & {
                width: 60px;
            }
        }

        img {
            margin-left: auto;
            width: 13px;
            height: 13px;

        }

        .icon {
            font-size: functions.rem(20px);
        }
    }

    .from-to {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: auto;
        width: 200px;

        @include mixins.for-mobile-layout() {
            & {
                width: 100px;
            }
        }

        span {
            height: 100%;
            @include mixins.center-flex();
            width: 90px;

            @include mixins.for-mobile-layout() {
                & {
                    width: 40px;
                }
            }

            @include mixins.for-narrow-layout() {
                & {
                    min-width: 80px;
                }
            }
        }

        .icon {
            font-size: functions.rem(35px);
            color: variables.$color-explosive;
            margin: 0 variables.$spacing-xs;
        }

        &.label-container {
            span {
                &.label {
                    width: 100%;
                    padding: 0 variables.$spacing-small;
                    color: white;
                    border-radius: 4px;

                    @include mixins.for-mobile-layout() {
                        &.label {
                            width: 40px;
                            height: 30px;
                            font-size: functions.rem(10px);
                        }
                    }
                }
            }
        }

        &.person-container {
            gap: variables.$spacing-xl;
            margin-left: unset;

            img {
                border-radius: 50px;
            }
        }
    }
}