@use "sass:color";
@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";

.comments-list {
    li {
        border-radius: 4px;
        border: 1px solid color.adjust(variables.$border-color , $lightness: -20%);
        margin-bottom: variables.$spacing-medium;
        padding: variables.$spacing-medium;
        .header-comment {
            padding-bottom: variables.$spacing-small;
            font-size: functions.rem(14px);
            color: variables.$workspace-icon-color;

            .left {
                gap: variables.$spacing-small;
                font-size: 16px;
                color: variables.$primary-text-color;

                img {
                    @include mixins.members();
                }
            }

            .right {
                gap: variables.$spacing-small;

                .time {
                    gap: 2px;
                }

                .menu-icon-container {
                    @include mixins.center-flex();
                    position: relative;
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;

                    &:hover {
                        background-color: variables.$workspace-hover;
                    }

                    &.active {
                        background-color: variables.$workspace-board-active;
                    }

                    .comment-modal {
                        @include mixins.menu-modal();
                        // Ohne das sieht das Menue klickbar aus, verhaelt sich
                        // aber wie Text.
                        > * { cursor: pointer; }
                        right: 0;
                        width: 265px;
                    }
                }
            }
        }

        p {
            margin-top: variables.$spacing-small;
            padding: 0 variables.$spacing-medium variables.$spacing-medium variables.$spacing-medium;
            max-width: 540px;
            overflow-wrap: break-word;
        }

        .cancel {
            background-color: white;
            color: black;
            margin: 0;
            height: 32px;
            border-radius: 4px;
            padding: variables.$spacing-xs variables.$spacing-small;
            @include mixins.center-flex();

            &:hover {
                background-color: variables.$workspace-hover;
            }
        }
    }
}