@use "../setup/mixins";
@use "../setup/variables";

.last-viewed {
    padding: variables.$spacing-xl variables.$spacing-medium;

    .title {
        margin-bottom: variables.$spacing-small;
    }

    .last-viewed-main {
        .member-info {
            gap: variables.$spacing-small;
            margin-bottom: variables.$spacing-small;

            img {
                @include mixins.members();
            }
        }
    }
}
