@use "../setup/functions";
@use "../setup/mixins";

.logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 7px;

    &-title {
        color: black;
        font-size: functions.rem(20px);
        font-weight: 700;
    }

    &-img {
        height: functions.rem(18px);
    }

    @include mixins.for-normal-layout() {
        &-title {
            font-size: functions.rem(24px);
        }

        &-img {
            height: functions.rem(20px);
        }
    }
}
