@use "../setup/functions";
@use "../setup/mixins";

.logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 7px;

      &-title {
          font-size: functions.rem(20px);
          font-weight:700;
          color: black;
      }

      &-img {
          height: functions.rem(18px);
      }

      @include mixins.for-normal-layout() {
          &-title {
              font-size: functions.rem(24px);
          }

          &-img {
              height: functions.rem(20px);
          }
      }            
  }