@use "sass:color";
@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";

.task-preview {
    position: relative;
    font-size: functions.rem(14px);

    .empty-div {
        @include mixins.empty-div()
    }

    &:hover {
        .task-menu .icon {
            display: block;
        }
    }

    .sticky-div.on-typing{
        background-color: variables.$workspace-board-active;
    }
    .task-menu {
        @include mixins.center-flex();
        position: absolute;
        width: 41px;
        left: -47px;
        height: 40px;
        color: variables.$primary-text-color;
        background-color: white;

        @include mixins.for-mobile-layout() {
            & {
                display: none;
            }
        }

        .icon {
            display: none;
            border-radius: 4px;
            font-size: functions.rem(20px);
            cursor: pointer;
        }

        .icon:hover {
            background-color: variables.$layout-border-color;
        }
    }

    // .task-menu-modal {
    //     @include menu-modal();
    //     padding: $spacing-small;
    //     left: -34px;
    // }

    .task-tools-modal {
        @include mixins.menu-modal();
    }

    .picker {
        min-width: variables.$cell-width;
        height: variables.$cell-height;
        border: 1px solid color.adjust(variables.$border-color , $lightness: -20%);
    }

    .task-title {
        width: variables.$cell-width-task;
        cursor: pointer;

        &:hover {
            .open-task-details {
                opacity: 1;
            }
        }

        blockquote {
            height: 70%;
        }

        .open-task-details {
            @include mixins.center-flex();
            opacity: 0;
            margin: 0 variables.$spacing-small;
            color: variables.$workspace-icon-color;

            @include mixins.for-mobile-layout() {
                & .open-btn {
                    display: none;
                }
            }
        }

        .chat-icon {
            font-size: functions.rem(24px);
            padding: 0 variables.$spacing-medium;
            height: 100%;
            border-left: 1px solid color.adjust(variables.$border-color , $lightness: -20%);
            color: variables.$chat-icon-color;
            @include mixins.center-flex();
            position: relative;

            .icon:hover {
                color: variables.$board-btn;
                cursor: pointer;
            }

            div {
                display: flex;
                align-items: center;
            }

            .count-comment {
                @include mixins.center-flex();
                position: absolute;
                top: 15px;
                right: 15px;
                background-color: variables.$board-btn;
                color: white;
                font-size: functions.rem(10px);
                border-radius: 50%;
                width: 14px;
                height: 13px;
                margin: 0;
                cursor: pointer;
            }

            .comment-chat {
                color: variables.$board-btn;
            }
        }
    }

    &.on-typing {
        background-color: variables.$workspace-board-active;
    }

    blockquote {
        padding-right: 40px;
        border-radius: 5px;
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 36px;
        cursor: text;

        @include mixins.for-mobile-layout() {
            & {
                margin-left: 5px;
            }
        }

        &:focus-visible {
            outline: 1px solid variables.$board-btn;
        }

        &:hover {
            outline: 1px solid color.adjust(variables.$border-color, $lightness: -20%);
        }
    }

    .empty-div {
        border-bottom: 1px solid color.adjust(variables.$border-color , $lightness: -20%);
        flex-grow: 100%;
        padding-right: 188px;
    }
}