@use "../../setup/functions";
@use "../../setup/mixins";
@use "../../setup/variables";

.teaser {
    background: variables.$home-secondary-bg;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10vh;

    &-header {
        padding: 4rem 0;
        text-align: center;
        $font-family: variables.$title-font-family;

        &-title {
            font-size: functions.rem(34px);
        }

        &-paragraph {
            color: lightgrey;
            font-size: functions.rem(16px);
            margin-top: variables.$spacing-small;
        }
    }

    .teaser-content {
        align-items: center;
        color: variables.$home-active-color;
        display: flex;
        font-family: variables.$title-font-family;
        gap: variables.$spacing-small;
        margin-bottom: variables.$spacing-medium;
        -webkit-transition: opacity 50ms ease, transform 50ms ease;
        transition: opacity 50ms ease, transform 50ms ease;


        @include mixins.for-normal-layout {
            font-size: functions.rem(28px);
        }
    }

    .home-gif {
        border-radius: 10px;
        filter: drop-shadow(0px 8px 24px variables.$home-veil);
        margin: 10vh 0;
        opacity: .9;
        width: 100%;
    }
}

.views-container {
    background-color: inherit;
    border-radius: 1em;
    box-shadow: 0px 10px 30px rgba(29, 140, 242, 0.2);
    color: variables.$divider-warm;
    display: flex;
    height: 83px;
    justify-content: space-evenly;
    margin-bottom: 5rem;


    .view {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        height: 100%;
        justify-content: center;
        min-width: 75px;
        padding: 0 20px;
        position: relative;
        transition: background-color .2s ease-in-out;
        width: 100%;

        &.active {
            color: variables.$home-active-color;
        }

        &:hover {
            background-color: variables.$home-veil-soft;
        }
    }

    .active-indicator {
        background-color: variables.$home-active-color;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        bottom: 0;
        height: 4px;
        position: absolute;
        -webkit-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.1s ease-in-out;
        width: 100%;
    }

    .teaser-container {
        padding-bottom: 3rem;
    }
}
