@use "../../setup/mixins";
@use "../../setup/variables";

.group-preview-kanban {
    width: 260px;
    background-color: variables.$sidebar-workspace-bg;
    .group-title-container {
        height: 44px;
        color: variables.$app-bg;
        @include mixins.center-flex();
        font-weight: 400;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .group-preview-content {
        display: flex;
    }
}