@use "../../setup/functions";
@use "../../setup/mixins";
@use "../../setup/variables";

.task-list-content-kanban {
    padding: variables.$spacing-small;
    min-height: 110px;
    margin: 0;

    .task-container {
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
        font-size: functions.rem(13px);
        font-weight: 400;
        cursor: pointer;
        margin-bottom: variables.$spacing-small;

        .flex {
            padding: variables.$spacing-small;
            gap: variables.$spacing-small;
        }
    }

    .task-content,
    .task-title {
        width: 100%;
        display: flex;
    }

    .task-title {
        @include mixins.center-flex();
        margin-bottom: variables.$spacing-small;
        height: 36px;
        padding: variables.$spacing-small;
        position: relative;
        gap: variables.$spacing-xs;

        .chat-icon {
            @include mixins.center-flex();
            font-size: functions.rem(24px);
            padding: 0 variables.$spacing-small;
            height: 100%;
            margin-left: auto;
            color: variables.$chat-icon-color;
            position: relative;

            &:hover {
                color: variables.$board-btn;
                cursor: pointer;
            }

            div {
                display: flex;
                align-items: center;
            }

            .count-comment {
                @include mixins.center-flex();
                position: absolute;
                top: 11px;
                right: 7px;
                background-color: variables.$board-btn;
                color: white;
                font-size: functions.rem(10px);
                border-radius: 50%;
                width: 14px;
                height: 13px;
                margin: 0;
                cursor: pointer;
            }

            .comment-chat {
                color: variables.$board-btn;
            }
        }

        .task-menu {
            @include mixins.center-flex();
            border-radius: 8px;

            .icon {
                cursor: pointer;
                font-size: functions.rem(22px);
                color: variables.$workspace-icon-color;
            }

            &:hover {
                background-color: variables.$workspace-hover;
            }
        }
    }

    .task-content {
        .task-titles-container {
            li {
                margin-bottom: 8px;
                height: 36px;
            }
        }
    }

    .title-container {
        >* {
            height: 36px;
            margin-bottom: variables.$spacing-small;
            display: flex;
            align-items: center;
        }
    }
}