@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";

.home-page {
    background-image: variables.$home-bg;
    color: variables.$app-bg;
    font-family: variables.$title-font-family;
    margin: 0;
    padding-top: functions.rem(72px);

    .home-content {
        padding-top: variables.$spacing-xxl;
        @include mixins.center-flex();
        flex-direction: column;
        margin-bottom: variables.$spacing-medium;

        .home-paragraph {
            color: variables.$workspace-icon-color;
            font-size: functions.rem(14px);
            text-align: center;
        }

        .headers-container {
            text-align: center;

            .main-title {
                background: linear-gradient(360deg, variables.$text-faint 53.95%, variables.$home-violet-soft 121.37%);
                -webkit-background-clip: text;
                display: flex;
                flex-direction: column;
                font-size: functions.rem(30px);
                font-weight: 600;
                letter-spacing: 2px;
                line-height: 40px;
                margin-bottom: variables.$spacing-medium;
                -webkit-text-fill-color: transparent;

                @include mixins.for-normal-layout() {
                    & {
                        font-size: functions.rem(46px);
                        line-height: 65px;
                        margin-bottom: variables.$spacing-medium;
                    }
                }
            }

            .secondary-title {
                font-size: functions.rem(16px);
                font-weight: 300;
                letter-spacing: 1px;
                padding: 0 variables.$spacing-large;

                @include mixins.for-normal-layout() {
                    & {
                        font-size: functions.rem(20px);
                        padding: 0;
                    }
                }
            }
        }

        .get-started {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 90%;
            padding: 32px 0;
        }
    }

    .hero {
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
