@use "../../setup/functions";
@use "../../setup/variables";

.add-column-modal {
    color: variables.$primary-text-color;
    display: flex;
    flex-wrap: wrap;
    font-size: functions.rem(16px);
    margin: 0;
    width: 240px;

    div {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: variables.$spacing-small;
        padding: variables.$spacing-xs variables.$spacing-small;
        width: 120px;

        &:hover {
            background-color: variables.$workspace-hover;
            border-radius: variables.$spacing-small;
        }
    }

    img {
        height: 14px;
        width: 14px;
    }
}
