@use "../../setup/functions";
@use "../../setup/variables";

.chart-type-modal {
    color: variables.$primary-text-color;
    display: flex;
    flex-direction: column;
    font-size: functions.rem(16px);

    > * {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: variables.$spacing-small;
        padding: variables.$spacing-xs variables.$spacing-small;

        &:hover {
            background-color: variables.$workspace-hover;
            border-radius: variables.$spacing-small;
        }


    }
}
