@use "sass:color";
@use "../../setup/functions";
@use "../../setup/mixins";
@use "../../setup/variables";

.create-board-modal {
    @include mixins.center-absolute();
    background-color: variables.$app-bg;
    border: 1px solid color.adjust(variables.$border-color, $lightness: -20%);
    border-radius: variables.$spacing-small;
    box-shadow: -3px 4px 14px rgb(0 0 0 / 20%);
    color: variables.$primary-text-color;
    font-size: functions.rem(14px);
    padding: variables.$spacing-medium variables.$spacing-xl variables.$spacing-xl variables.$spacing-xl;
    width: 500px;
    z-index: variables.$z-modal;

    h1 {
        font-size: functions.rem(32px);
        font-weight: 500;
        margin-bottom: variables.$spacing-medium;
    }

    h3 {
        font-size: functions.rem(14px);
        font-weight: 400;
        margin-bottom: variables.$spacing-small;
    }

    form {
        padding: unset;
        width: 100%;

        input {
            border: 1px solid variables.$border-color;
            border-radius: 4px;
            font-family: inherit;
            font-size: functions.rem(16px);
            height: 40px;
            margin: 0;
            padding: variables.$spacing-small variables.$spacing-medium;
            width: 100%;

            &:focus-visible {
                outline: 1px solid variables.$border-color;
            }
        }

        button {
            display: none;
        }

    }

    .close {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;

        .icon {
            cursor: pointer;
            height: 28px;
            padding: variables.$spacing-xs variables.$spacing-small;
            width: 32px;

            &:hover {
                background-color: variables.$workspace-hover;
                border-radius: variables.$spacing-small;
            }
        }
    }
}
