@use "../../setup/functions";
@use "../../setup/variables";

.group-menu-modal {
    display: flex;
    flex-direction: column;
    font-size: functions.rem(14px);
    color: variables.$primary-text-color;

    > * {
        display: flex;
        align-items: center;
        gap: variables.$spacing-small;
        padding: variables.$spacing-xs variables.$spacing-small;
        cursor: pointer;

        &:hover {
            background-color: variables.$workspace-hover;
            border-radius: variables.$spacing-small;
        }
    }
}