@use "../../setup/functions";
@use "../../setup/mixins";
@use "../../setup/variables";

.filter-member-modal {
    font-size: functions.rem(14px);
    color: variables.$primary-text-color;
    max-height: 500px;
    width: 400px;
    padding: variables.$spacing-small;
    overflow: auto;

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    img {
        height: functions.rem(30px);
        width: functions.rem(30px);
        border-radius: 50%;
        cursor: pointer;
    }

    h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
        font-size: functions.rem(15px);
    }

    .secondary-title {
        margin-bottom: variables.$spacing-small;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: variables.$spacing-small;

        li {
            padding: 6px;
            border-radius: 50%;
            @include mixins.center-flex();
            &.active {
                background-color: variables.$card-selected-background-color;
            }
        }
    }

    @include mixins.for-mobile-layout(){
        &.filter-member-modal{
            left: -133px;
            width: max-content;
        }
    }
}