@use "../../setup/functions";
@use "../../setup/mixins";
@use "../../setup/variables";

.statistic {
    .statistic-container {
        height: 36px;
    }

    .first {
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }

    .title.status-picker,
    .title.priority-picker {
        border-top: 0;
        padding: 0;

        > * {
            height: 100%;

            &:hover {
                height: 120%;
            }
        }
    }

    .statistic-number {
        font-size: 1rem;
        position: relative;

        .number {
            display: block;
        }
    }
}
