@use "../../setup/mixins";
@use "../../setup/variables";

.group-list{
    margin: 0 0 40px 40px;
    position: relative;
    color: variables.$primary-text-color;

    @include mixins.for-mobile-layout() {
        &{
            margin: 0;
        }
    }
}