@use "../../setup/functions";
@use "../../setup/mixins";
@use "../../setup/variables";

.board-preview {
    &:hover {
        .menu-icon-container {
            opacity: 1;
        }
    }

    div {
        @include mixins.center-flex();
        gap: variables.$spacing-small;
    }

    .menu-icon-container {
        @include mixins.center-flex();
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        opacity: 0;

        .icon {
            font-size: functions.rem(40px);
        }

        &.active {
            background-color: variables.$workspace-board-active;
        }

    }
}

.board-menu-modal {
    color: variables.$primary-text-color;
    font-size: functions.rem(14px);

    > * {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: variables.$spacing-xs variables.$spacing-small;
        cursor: pointer;

        &:hover {
            background-color: variables.$workspace-hover;
            border-radius: variables.$spacing-small;
        }
    }
}