@use "sass:color";
@use "functions";
@use "variables";

/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc(variables.$mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc(variables.$mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc(variables.$narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc(variables.$narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin members() {
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
}

@mixin hover-sidebar() {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    cursor: pointer;
}

@mixin member-img($bgColor , $txtColor , $imgSize , $countSize) {
    > * {
        @include members;
    }

    .member-img1 {
        border: 1px solid variables.$app-bg;
        height: $imgSize;
        margin-left: 0;
        margin-right: -4px;
        width: $imgSize;
    }

    .member-img2 {
        border: 1px solid variables.$app-bg;
        height: $imgSize;
        margin-left: -4px;
        margin-right: -4px;
        width: $imgSize;
    }

    .show-more-members {
        @include center-flex();
        background-color: $bgColor;
        border: 1px solid variables.$border-color;
        color: $txtColor;
        font-size: functions.rem(14px);
        height: $countSize;
        margin-left: -5px;
        padding: functions.em(4px);
        text-align: center;
        width: $countSize;
    }
}

@mixin task-modal-position() {
    left: -25px;
    position: absolute;
    top: 21px;
    z-index: 2;
}

@mixin login-logout-modal-position() {
    bottom: 15px;
    left: 0;
    position: sticky;
    z-index: 2;
}

@mixin triangle-icon() {
    bottom: -11px;
    color: white;
    position: relative;
    right: -85px;
    z-index: 2;
}

@mixin center-absolute() {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-flex() {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin menu-modal() {
    background-color: variables.$app-bg;
    border: 1px solid color.adjust(variables.$border-color, $lightness: -20%);
    border-radius: variables.$spacing-small;
    box-shadow: -3px 4px 14px rgb(0 0 0 / 20%);
    color: variables.$primary-text-color;
    display: flex;
    flex-direction: column;
    font-size: functions.rem(14px);
    padding: variables.$spacing-small;
    position: absolute;
    top: 40px;
    z-index: 10;

    > * {
        align-items: center;
        display: flex;
        gap: 8px;
        padding: variables.$spacing-xs variables.$spacing-small;

        &:hover:not(.color-palette) {
            background-color: variables.$workspace-hover;
            border-radius: variables.$spacing-small;
        }
    }
}

@mixin empty-div() {
    border-bottom: 2px solid color.adjust(variables.$border-color, $lightness: -20%);
    width: 100%;
    &:first-child {
        border-top: 2px solid color.adjust(variables.$border-color, $lightness: -20%);
    }
}
